
#content1{
  margin-top: 5%;
}

#content2{
  margin-top: 5% !important;
}

.mat-toolbar{
  display: block;
  padding: 13px;
}

.head{
  /* background-image:url("../../assets/FASHION1.jfif"); */
  background-image: linear-gradient(rgba(65,64,68,1) 0%, rgba(102,102,106,0.6842087176667542) 35%, rgba(76,105,88,0.06796221906731448) 100%);
  min-height: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  width:100% !important;
}
.mat-form-field{
  width: 200px;

}

.img{
  width: 100%;
  height: 95%;
}
.mat{
  height: 95%;
  width: 100%;
}
.span{
  float: right;
}
.tool{
  width: 70% ;
  margin-left: 15%;
  text-align: center;

}

.toolbar{
  margin-top: 5% ;
  text-align: center;
}
/* }

.mat-form-field{
  width: 350px;
} */
.mat-toolbar{
  background-color: rgb(34, 36, 36) !important;
  color: white;
  text-align: center !important;
}

.mat-raised-button{
  background-color:rgb(34, 36, 36) ;
}

